<h1 class="display-4">Retrieve documents</h1>

<form>
  <div class="form-group">
    <input class="form-control" type="text" id="documentId" placeholder="Enter document id...">
    </div>
  <div class="form-group">
    <input type="button" class="btn btn-primary" value="Metadata">
    <input type="button" class="btn btn-primary" value="Download">
  </div>
</form>

<h2 class="display-4">Metadata</h2>
<table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>File name</td>
        <td>my_silly_file.txt</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>15024</td>
      </tr>
    </tbody>
</table>
